<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</script>
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
</script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js">
</script>



<div class="contraiter">

 <div class="row">

   <div class="col-12 col-sm-8 mx-auto">
   <div>


       <form  action="/all_data"  method="GET">
        <input  value="Show All Data"  type="submit"  class="btn btn-dark mt-4 " title="Show All Data" id='all_button'>




    </form>
       <button class="btn btn-dark mt-4 button-update" id='refresh_button'>Обновить данные</button>
   </div>




<table class="table  table-bordered  table-inverse" cellspacing="1000" width="100%" id="tbCovidStatistic">
<thead>
    <tr>
		<th>Date</th>
		<th>Country code</th>
		<th>Confirmed</th>
		<th>Deaths</th>
		<th>Stringency_actual</th>
		<th>Stringency</th>
		</tr>
  </thead>
  <tbody>
    {% for row in data %}
        <tr>
            <td>{{ row['date_value'] }}</td>
            <td>{{ row['country_code'] }}</td>
            <td>{{ row['confirmed'] }}</td>
            <td>{{ row['deaths'] }}</td>
            <td>{{ row['stringency'] }}</td>
            <td>{{ row['stringency_actual'] }}</td>


            {#        {% for d in row %}#}
{#            <td>{{ d }}</td>#}
{#        {% endfor %}#}
        </tr>
    {% endfor %}

  </tbody>
</table>
  </div>
 </div>
</div>

<script>

    $('#tbCovidStatistic').dataTable({
        aLengthMenu: [
            [25, 50, 100, 200, -1],
            [25, 50, 100, 200, "All"]
        ],
        iDisplayLength: 200,
        order: [[ 0, "desc" ]]
    });

    $(function() {
        $('#refresh_button').on('click', function() {
            $('#refresh_button').text('Recive new data');


            $('#refresh_button').attr('disabled','disabled');

            $.ajax({
                url: '/update',
                async: true,
                type: "get",
                success: function(data){
                    alert("Данные обновлены!");
                    location.reload();
                }
            });
            return false;
        });
    });

   $(function() {
        $('#all_button').bind('click', function() {
            $('#all_button').hide()
   {#         $('#all_button').attr('disabled','disabled');#}
   {#         $('#all_button').hidden ;#}
   {##}
   {##}
   {#         $.ajax({#}
   {#             url: '/update',#}
   {#             async: true,#}
   {#             type: "get",#}
   {#             success: function(data){#}
   {#                 alert("Данные обновлены!");#}
   {#                 location.reload();#}
   {#             }#}
   {#         });#}
   {#         return false;#}
        });
    });


</script>
  </head>
</html>
